<div id="<%= dom_id club %>">
  <p>
    <strong>Title:</strong>
    <%= club.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>
  <p>
    <strong>Admin:</strong>
    <%= club.admin.username %>
  </p>
</div>