<div id="<%= dom_id club %>" class="entity">
  <h1 class="title">
    <%= club.title %>
  </h1>
  <div class="property">
    <span class="key">Description:</span>
    <span><%= club.description %></span>
  </div>

  <div class="property">
    <span class="key">Admin:</span>
    <span><%= club.admin.username %></span>
  </div>
</div>