<div id="<%= dom_id club %>" class="flex flex-col gap-y-5 mt-10">
  <h1 class="title">
    <%= club.title %>
  </h1>
  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>
  <p>
    <strong>Admin:</strong>
    <%= club.admin.username %>
  </p>
</div>