<div class="btn-container justify-end">
  <div>
    <%= render 'shared/back-btn', path: @club %>
  </div>
</div>

<% content_for :title, "Editing club" %>

<h1 class="title">Editing club</h1>

<%= render "form", club: @club %>