<div class="btn-container justify-end">
  <div></div> <!-- empty left side -->

  <% if authenticated? %>
    <div>
      <%= render 'shared/add-btn', path: new_club_path %>
    </div>
  <% end %>
</div>

<% content_for :title, "Clubs" %>

<h1 class="title">Clubs</h1>

<div id="clubs" class="list">
  <% @clubs.each do |club| %>
    <%= link_to club do %>
      <%= render partial: "clubs/club_short", locals: { club_short: club }  %>
    <% end %>
  <% end %>
</div>