<div id="<%= dom_id meetup_short %>" class="list-item">
  <span><strong><%= meetup_short.title %></strong></span>
  <span><strong>Location:</strong> <%= meetup_short.location %></span>
  <span><strong>Date:</strong> <%= meetup_short.datetime %></span>
</div>