<div id="<%= dom_id meetup %>">
  <p>
    <strong>Title:</strong>
    <%= meetup.title %>
  </p>
  <p>
    <strong>Subject:</strong>
    <%= meetup.subject %>
  </p>
  <p>
    <strong>organizer:</strong>
    <%= meetup.organizer.username %>
  </p>
</div>