<div class="btn-container justify-end">
  <div>
    <%= render 'shared/back-btn', path: club_meetups_path %>
  </div>
</div>

<% content_for :title, "Editing meetup" %>

<h1 class="title">Editing meetup</h1>

<%= render "form", meetup: @meetup %>